# ========================
# Python / Django
# ========================
*.pyc
__pycache__/
*.pyo
*.pyd
*.swp

# 虛擬環境
venv/
.env
.env.*

# Django / local files
*.sqlite3
db.sqlite3
media/
staticfiles/

# ========================
# K8s
# ========================
# 忽略真實 secret
k8s/**/secrets.yaml
!k8s/**/secrets.example.yaml

# 上傳範例檔
# secrets.example.yaml 可以正常上傳，不需要忽略

# ========================
# IDE / editor
# ========================
.vscode/
.idea/
*.log

# ========================
# Docker
# ========================
*.env
docker-compose.override.yml

# ========================
# Pipenv
# ========================
Pipfile.lock

# ========================
# MacOS
# ========================
.DS_Store
